{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<h1 class="text-center">Demande de contact</h1>

<div class="container">
  <a class="btn btn-primary mb-5" href="{{ path('default') }}">< Page d'accueil</a>
  
  {{ include('contact/_form.html.twig') }}
  <a class="btn btn-primary" href="{{ path('default') }}">Retour a la page d'accueil</a>
</div>
{% endblock %}
