{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1 class="text-center">A propos</h1>
  <a class="btn btn-primary mt-2" href="{{ path('default') }}">< Page d'accueil</a>

  <p class="mt-5" style="font-size: 1.2em;">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>

  <div class="container d-flex flex-column flex-lg-row">
    <div>
      <img style="border-radius: 10px;" src="https://cdn.discordapp.com/attachments/814250385190420483/833639364998856724/pp.jpg" alt="Enzo Avagliano">
    </div>
    <div>
      <ul>
        <li style="font-size:1.5em;">Blog créé par : Enzo Avagliano</li>
        <li style="font-size:1.5em;">Date de rendu : 19 avril 2021</li>
        <li style="font-size:1.5em;">Promo : Ynov Info B3 Web</li>
        <li style="font-size:1.5em;">Lien Gitlab du projet : <a style="color:#9146FF" href="https://gitlab.com/EloxFire/blog_project_avagliano_symfony">https://gitlab.com/EloxFire/blog_project_avagliano_symfony</a></li>
        <!-- <li style="font-size:1.5em;">Promo : Ynov Info B3 Web</li> -->
      </ul>
    </div>
  </div>
</div>
{% endblock %}
