<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Blog Project Avagliano{% endblock %}</title>
  {# templates/base.html.twig #}

  {# beware that the blocks in your template may be named different #}
  {% block head_css %}
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css">
  {% endblock %}
  {% block head_js %}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% endblock %}
  {% block stylesheets %}{% endblock %}

  {% block javascripts %}{% endblock %}
</head>
<body>
  {% block body %}
  {% include "navbar.html.twig" %}
  <div style="height:80vh" class="container d-flex flex-column align-items-center justify-content-center">

    <div class="mb-3 mt-5 text-center">
      <img src="{{asset('img/logo-blog.png')}}" style="max-height:30vh;" alt="Logo blog">
      <h2 class="mb-5">Blog Ynov B3 - Avagliano Enzo</h2>
      {% if app.user %}
      <h3>Vous êtes connecté en tant que {{ app.user.firstname }} {{ app.user.lastname }}, <a style="color:#9146FF" href="{{ path('app_logout') }}">déconnexion</a></h3>
      <div class="d-flex flex-row justify-content-center">
        {% if app.user and is_granted('ROLE_ADMIN') %}
          <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('article_new')}}">Ajouter un article</a>
        {% endif %}
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('about')}}">À propos</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('contact_new')}}">Contact</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('article_table')}}">Liste des articles</a>
      </div>
      {% else %}
      <h3>Vous n'êtes pas connecté, <a style="color:#9146FF" href="{{ path('app_login') }}">connectez-vous en cliquant ici.</a></h3>
      <div class="d-flex flex-row justify-content-center">
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('user_new')}}">Inscription</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('app_login')}}">Connexion</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('about')}}">À propos</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('contact_new')}}">Contact</a>
        <a class="nav-link" style="font-size:1.2em;color:#9146FF" href="{{path('article_table')}}">Liste des articles</a>
      </div>
      {% endif %}
      <a href=""></a>
    </div>

  </div>
  {% endblock %}
</body>
</html>
