<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand p-0 m-0 mr-5 text-center" href="/">
      <img class="navbar-brand" src="{{asset('img/logo-blog.png')}}" width="50" height="50" alt="">
      Blog Ynov
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="font-size:1.3em;" class="nav-link" href="{{path('default')}}">Accueil</a>
            </li>
            <li class="nav-item active">
                <a style="font-size:1.3em;" class="nav-link" href="{{path('about')}}">À propos</a>
            </li>
            <li class="nav-item active">
                <a style="font-size:1.3em;" class="nav-link" href="{{path('contact_new')}}">Contact</a>
            </li>
            <li class="nav-item active">
                <a style="font-size:1.3em;" class="nav-link" href="{{path('article_table')}}">Articles</a>
            </li>
        </ul>
        <ul class="navbar-nav">
          {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
              <li class="nav-item active">
                <a style="font-size:1.3em;color:#e74c3c" class="nav-link p-0 m-0 mt-2">Vous êtes connecté en admin</a>
              </li>
            {% else %}
              <li class="nav-item active">
                <a style="font-size:1.3em;color:#3498db" class="nav-link p-0 m-0 mt-2">Vous êtes connecté en utilisateur</a>
              </li>
            {% endif %}
            <li class="nav-item active">
              <a style="font-size:1.3em;" class="nav-link" href="{{path('user_edit', {'id': app.user.id})}}">Paramètres</a>
            </li>
            <li class="nav-item active">
                <a style="font-size:1.3em;" class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
            </li>
          {% else %}
          <li class="nav-item active">
            <a style="font-size:1.3em;" class="nav-link" href="{{path('user_new')}}">Inscription</a>
          </li>
          <li class="nav-item active">
            <a style="font-size:1.3em;" class="nav-link" href="{{path('app_login')}}">Connexion</a>
          </li>
          {% endif %}
        </ul>
    </div>
</nav>
