{% extends 'base.html.twig' %}

{% block title %}Article - Édition{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<h1 class="text-center">Éditer l'article {{article.id}}</h1>

<div class="container">
  {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
  {{ include('article/_delete_form.html.twig') }}

  <a class="btn btn-primary" href="{{ path('article_table') }}">< Retour aux articles</a>

</div>
{% endblock %}
