{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<div class="container">
  <h1 class="text-center">Article index</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Content</th>
        <th>Is_public</th>
        <th>Date</th>
        <th>Image</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td>{{ article.id }}</td>
        <td>{{ article.title }}</td>
        <td>{{ article.subtitle }}</td>
        <td>{{ article.content }}</td>
        <td>{{ article.isPublic ? 'Yes' : 'No' }}</td>
        <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
        <td>{{ article.image }}</td>
        <td>
          <a class="btn btn-primary mb-1" href="{{ path('article_show', {'id': article.id}) }}">show</a>
          <a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="8">no records found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="btn btn-success" href="{{ path('article_new') }}">Create new</a>
</div>
{% endblock %}
