{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<div class="container">
  <h1 class="text-center">Poster un article</h1>

  <a class="btn btn-primary mb-5" href="{{ path('default') }}">< Page d'accueil</a>
  {{ include('article/_form.html.twig') }}

  <a class="btn btn-primary" href="{{ path('article_table') }}">Retour a la liste</a>
</div>
{% endblock %}
