{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

<h1 class="text-center mt-3">Supprimer l'article {{article.id}} ?</h1>

<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ article.id }}</td>
      </tr>
      <tr>
        <th>Title</th>
        <td>{{ article.title }}</td>
      </tr>
      <tr>
        <th>Subtitle</th>
        <td>{{ article.subtitle }}</td>
      </tr>
      <tr>
        <th>Content</th>
        <td>{{ article.content }}</td>
      </tr>
      <tr>
        <th>Is_public</th>
        <td>{{ article.isPublic ? 'Yes' : 'No' }}</td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ article.date ? article.date|date('Y-m-d') : '' }}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td><img style="max-width:35vh;" src="{{article.image ? article.image : "https://media.discordapp.net/attachments/814250385190420483/833634824140095498/no_preview.png?width=1157&height=651"}}" alt="Image"></td>
      </tr>
    </tbody>
  </table>

  <a class="btn btn-primary" href="{{ path('article_table') }}">Retour à la liste</a>

  <a class="btn btn-warning" href="{{ path('article_edit', {'id': article.id}) }}">Editer l'article</a>

  {{ include('article/_delete_form.html.twig') }}
</div>
{% endblock %}
