{% extends 'base.html.twig' %}

{% block title %}Articles - Liste{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
<h1 class="text-center mb-5">Liste des articles</h1>
{% if app.user %}
<p class="p-0 m-0"></p>
{% else %}
<p class="text-center p-0 m-0"><strong>Vous n'êtes pas connecté, vous ne verrez que les articles publics</strong></p>
<p class="text-center p-0 m-0 mb-3"><a style="color:#9146FF" href="{{path('app_login')}}">Connectez-vous en cliquant ici pour voir tous les articles.</a></p>
{% endif %}
<div class="container">
  <a class="btn btn-primary mb-5" href="{{ path('default') }}">< Page d'accueil</a>
</div>
<div class="container d-flex flex-wrap justify-content-around">

  {% for article in articles %}
    {% if app.user %}
      <div class="card my-3" style="width: 30rem;">
        <img class="card-img-top" src="{{article.image ? article.image : "https://media.discordapp.net/attachments/814250385190420483/833634824140095498/no_preview.png?width=1157&height=651"}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          {% if article.subtitle %}
          <h6 class="card-subtitle mb-2 text-muted">{{article.subtitle}}</h6>
          {% endif %}
        </div>
        <div class="card-body" style="overflow:auto;height:20vh;">
          <p class="card-text">{{article.content}}</p>
        </div>
        <div class="card-footer">
          <p class="card-link p-0 m-0">Public : {{ article.isPublic ? 'Oui' : 'Non' }}</p>
          <p class="card-link p-0 m-0">Date : {{ article.date ? article.date|date('Y-m-d') : 'Pas de date' }}</p>
          <p class="card-link p-0 m-0">Id article : {{ article.id }}</p>
          {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning my-2" href="{{path('article_edit', {'id': article.id})}}" class="card-link">Editer l'article</a>
            <a class="btn btn-danger" href="{{path('article_delete', {'id': article.id})}}" class="card-link">Supprimer l'article</a>
          {% endif %}
          <a class="btn btn-info" href="#" class="card-link">Poster un commentaire</a>
        </div>
      </div>
    {% else %}
      {% if article.isPublic %}
      <div class="card my-3" style="width: 30rem;">
        <img class="card-img-top" src="{{article.image ? article.image : "https://media.discordapp.net/attachments/814250385190420483/833634824140095498/no_preview.png?width=1157&height=651"}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          {% if article.subtitle %}
          <h6 class="card-subtitle mb-2 text-muted">{{article.subtitle}}</h6>
          {% endif %}
        </div>
        <div class="card-body" style="overflow:auto;height:20vh;">
          <p class="card-text">{{article.content}}</p>
        </div>
        <div class="card-footer">
          <p class="card-link p-0 m-0">Public : {{ article.isPublic ? 'Oui' : 'Non' }}</p>
          <p class="card-link p-0 m-0">Date : {{ article.date ? article.date|date('Y-m-d') : 'Pas de date' }}</p>
          <p class="card-link p-0 m-0">Id article : {{ article.id }}</p>
          {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning my-2" href="{{path('article_edit', {'id': article.id})}}" class="card-link">Editer l'article</a>
            <a class="btn btn-danger" href="{{path('article_delete', {'id': article.id})}}" class="card-link">Supprimer l'article</a>
          {% endif %}
          <a class="btn btn-info" href="#" class="card-link">Poster un commentaire</a>
        </div>
      </div>
      {% endif %}
    {% endif %}

  {% else %}
  <tr>
    <td colspan="8">no records found</td>
  </tr>
  {% endfor %}
</div>
{% endblock %}
