{% extends 'base.html.twig' %}

{% block title %}Parametres utilisateur{% endblock %}

{% block body %}
  {% include 'navbar.html.twig' %}
  <div class="container">
    <h1 class="text-center mt-3">Parametres</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('user/_delete_form.html.twig') }}

    {% if is_granted('ROLE_ADMIN') %}
      <a class="btn btn-primary mt-2" href="{{ path('user_index') }}">Liste des utilisateurs</a>
    {% endif %}
  </div>
{% endblock %}
