{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1 class="text-center mt-3">Page d'inscription</h1>

  {{ include('user/_form.html.twig') }}

  <!-- <a class="btn btn-primary" href="{{ path('default') }}">back to list</a> -->
</div>
{% endblock %}
