{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
<div class="container">
  <h1>User</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th>Roles</th>
        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
      </tr>
      <tr>
        <th>Password</th>
        <td>{{ user.password }}</td>
      </tr>
      <tr>
        <th>Firstname</th>
        <td>{{ user.firstname }}</td>
      </tr>
      <tr>
        <th>Lastname</th>
        <td>{{ user.lastname }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mb-2">
    {% if is_granted('ROLE_ADMIN') %}
      <a class="btn btn-primary" href="{{ path('user_index') }}">Liste des utilisateurs</a>
    {% endif %}

    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
  </div>

  {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
